.json_body{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;

}
.heading{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 10px;
    
    
}
.a1,.a2{
    position: relative;
    width: 100%;
    padding: 0px 20px;
    
}
textarea,.textarea{
    position: relative;
    margin: 20px;
    width: 100%;
    min-height: calc(100vh - 100px);
    padding: 12px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    display: block;

}
.copy,.format{
    position: absolute;
    right: 0px;
    top: 20px;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    background: rgb(36, 95, 36);
    color: white;
}

@media screen and (max-width: 768px) {
    .json_body{
    flex-direction: column !important;
    }
    textarea, .textarea{
        margin: 0 !important;
    }
    .a1, .a2 {
    padding:10px 0px;
    }
}
